node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
.npm-cache

# Convex
convex/_generated/*
!convex/_generated/api.d.ts
!convex/_generated/api.js
!convex/_generated/dataModel.d.ts
!convex/_generated/server.d.ts
!convex/_generated/server.js
convex/*.js
